$menu-back: #343a40;
$menu-border: red;
$footer-back: #343a40;
$txt-color: white;
$font: Garamond, Calibri, sans-serif;
$font-size: 18px;

@mixin font ($color: $txt-color, $size: $font-size) {
    color: $color;
    font-size: $size;
    font-weight: bold;
    font-family: $font;
    text-transform: uppercase;
}


@media screen and (max-width: 680px) {
    .menu a:link {
        @include font (white, 14px);
    }
    .menu--item a img {
        width: 30px;
        height: 30px;
    }
    .menu {
        flex-wrap: wrap;
        justify-content: space-between;
        background: white;
    }
    header {
        position:absolute;
        height: 180px;
        width: 120px;
        border-radius: 20px;
        background: $menu-back;
    }
    .content {
        flex-wrap: wrap;
        flex-direction: column;
    }
}

body {
    margin: 0;
    padding: 0;
    } 

a:link {
    text-decoration: none;
    color: $txt-color;
}

* li {
    list-style: square;
}

header {
    border-bottom: 5px solid $menu-border;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $menu-back;
    height: 50px;
    @include font(18px);
    &--item {
        display: flex;
        width: 150px;
        justify-content: space-around;
        transform: scale(1);
        transition: transform 600ms;
        &:hover {
            transform: scale(1.2);
        }
        & img {
            width: 60px;
            margin-top: 10px;
        }
    }
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    &--side{
        width: 20%;
            & li {
                list-style: none;
                @include font (black, 14px);
            }
    }
    &--middle{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        & img {
            height: 800px;
        }
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: $txt-color;
    background-color: $footer-back;
    border-top: 5px solid $menu-border;
    @include font(15px);
}